body {
  background-image: url("img/windows-8-1-fon-siniy-logotip.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
header {
  margin: 50px;
  font-size: 35px;
  font-weight: 900;
  font-family: sans-serif;
  color: wheat;
  display: flex;
  justify-content: space-between;
}

header div {
  display: inline;
  align-items: center;
  vertical-align: middle;
  color: azure;
  font-size: 40px;
}
header svg {
  margin: 20px;
}
.user {
  display: inline-block;
  font-size: 30px;
}

.container {
  margin: 30px auto;
  width: 90%;
  box-sizing: border-box;
  font-size: 0;
  overflow-x: scroll;
  text-wrap: nowrap;
}
.group {
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}

.column {
  display: inline-block;
  vertical-align: top;
}
.rectangle {
  margin: 10px 0px;
}

.square {
  margin: 0px;
  background-color: aqua;
  color: beige;
  width: 100px;
  height: 100px;
}
.column > .square {
  display: inline-block;
  margin: 10px 10px 0px 0px;
}

.rectangle > .square {
  margin: 0px;
  display: inline-block;
  width: 105px;
}
.rectangle + .square,
.rectangle + .square + .square {
  margin-top: 0px;
}
.bigSquare {
  margin-top: 10px;
}
.bigSquare > .rectangle {
  margin: 0;
}
.bigSquare > .rectangle > .square {
  height: 105px;
  margin: 0;
}
