body {
  background-image: url("img/windows-8-1-fon-siniy-logotip.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.container {
  margin: 30px auto;
  width: 90%;
  box-sizing: border-box;
  font-size: 0;
  overflow-x: scroll;
  /* overflow-y: scroll; */
  text-wrap: nowrap;
}
.column {
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}
.rectangle {
  margin: 10px 0px;
}

.square {
  margin-top: 10px;
  background-color: aqua;
  color: beige;
  width: 100px;
  height: 100px;
}
.column > .square {
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.rectangle > .square {
  margin: 0px;
  border-width: 0px;
  display: inline-block;
  width: 105px;
}
.bigSquare > div {
  margin-top: 10px;
  /* height: 105px; */
}
